In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\arc. joseph\an\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\arc. joseph\an\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\arc. joseph\an\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\arc. joseph\an\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\arc. joseph\an\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\arc. joseph\an\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('supply_chain_data.csv')
df.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

In [7]:
df = pd.read_csv('sales_dataset.csv')
df.head()

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode,Order Date,CustomerName,State,City,Year-Month
0,B-26776,9726,1275,5,Electronics,Electronic Games,UPI,2023-06-27,David Padilla,Florida,Miami,2023-06
1,B-26776,9726,1275,5,Electronics,Electronic Games,UPI,2024-12-27,Connor Morgan,Illinois,Chicago,2024-12
2,B-26776,9726,1275,5,Electronics,Electronic Games,UPI,2021-07-25,Robert Stone,New York,Buffalo,2021-07
3,B-26776,4975,1330,14,Electronics,Printers,UPI,2023-06-27,David Padilla,Florida,Miami,2023-06
4,B-26776,4975,1330,14,Electronics,Printers,UPI,2024-12-27,Connor Morgan,Illinois,Chicago,2024-12

In [8]:
 df.columns

Index(['Order ID', 'Amount', 'Profit', 'Quantity', 'Category', 'Sub-Category',
       'PaymentMode', 'Order Date', 'CustomerName', 'State', 'City',
       'Year-Month'],
      dtype='object')

In [9]:
df.columns = (
    df.columns.str.strip()
    .str.lower()
    .str.replace(' ','_')
)

In [10]:
 df.columns

Index(['order_id', 'amount', 'profit', 'quantity', 'category', 'sub-category',
       'paymentmode', 'order_date', 'customername', 'state', 'city',
       'year-month'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1194 entries, 0 to 1193
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      1194 non-null   object
 1   amount        1194 non-null   int64
 2   profit        1194 non-null   int64
 3   quantity      1194 non-null   int64
 4   category      1194 non-null   object
 5   sub-category  1194 non-null   object
 6   paymentmode   1194 non-null   object
 7   order_date    1194 non-null   object
 8   customername  1194 non-null   object
 9   state         1194 non-null   object
 10  city          1194 non-null   object
 11  year-month    1194 non-null   object
dtypes: int64(3), object(9)
memory usage: 112.1+ KB

In [3]:
import pandas as pd
import numpy as np

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1194 entries, 0 to 1193
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      1194 non-null   object
 1   amount        1194 non-null   int64
 2   profit        1194 non-null   int64
 3   quantity      1194 non-null   int64
 4   category      1194 non-null   object
 5   sub-category  1194 non-null   object
 6   paymentmode   1194 non-null   object
 7   order_date    1194 non-null   object
 8   customername  1194 non-null   object
 9   state         1194 non-null   object
 10  city          1194 non-null   object
 11  year-month    1194 non-null   object
dtypes: int64(3), object(9)
memory usage: 112.1+ KB

In [16]:
# customers table
customer_df = df[['customername']].reset_index(drop=True)
customer_df['customer_id'] = customer_df.index + 1
customer_df = customer_df[['customer_id', 'customername']]

In [20]:
# product table
product_df = df[['category', 'sub-category', 'amount', 'quantity', 'profit']].reset_index(drop=True)
product_df['product_id'] = product_df.index + 1
product_df = product_df[['product_id', 'category', 'sub-category', 'amount', 'quantity', 'profit']]

In [21]:
# orders table
orders_df = df[['order_id', 'paymentmode', 'order_date', 'state', 'city']].reset_index(drop=True)
orders_df['product_id'] = np.random.choice(product_df['product_id'], size=len(orders_df))
orders_df['customer_id'] = np.random.choice(customer_df['customer_id'], size=len(orders_df))

In [23]:
orders_df.tail()

,order_id,paymentmode,order_date,state,city,product_id,customer_id
1189,B-26370,Debit Card,2024-07-31,New York,New York City,28,359
1190,B-26298,EMI,2020-06-02,New York,Rochester,541,284
1191,B-26298,EMI,2022-12-15,Texas,Austin,944,91
1192,B-26298,EMI,2020-08-07,New York,Buffalo,841,657
1193,B-25068,UPI,2024-10-26,Illinois,Chicago,1076,238

In [24]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\arc. joseph\an\lib\site-packages (2.9.11)

In [25]:
from sqlalchemy import create_engine
import psycopg2

In [26]:
import os

In [29]:
password = os.environ.get ('password')
db_config = {
    'user': 'postgres',
    'password': 'temitope22', 
    'host': 'localhost',
    'port': 5433,
    'database': 'capstone_project'
}

In [30]:
connection_string = f"postgresql://{db_config['user']}:{db_config['password']}@{db_config['host']}:{db_config['port']}/{db_config['database']}"
engine = create_engine(connection_string)

In [32]:
orders_df.to_sql('orders', engine, if_exists='replace', index=False)
product_df.to_sql('products', engine, if_exists='replace', index=False)
customer_df.to_sql('customers', engine, if_exists='replace', index=False)

194